.products {
  padding-top: 2em;

  .header {
    text-align: left;
  }

  .card-space {
    margin-bottom: 1em !important;
  }

  .error {
    color: darkred !important;
    padding-left: 0.25em;
  }
}
