.home_page {
  .header {
    text-align: center;
    padding-top: 2em;
    margin-bottom: 2em !important;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  .card {
    padding: 4em;
    border: 1px solid #bcbdbd;
    width: 50%;
  }

  .footer {
    text-align: center;
    margin-top: 1em;
  }
}
